@import url('https://fonts.googleapis.com/css2?family=Jost: 100, 200, 300, 400, 500, 600, 700| Playfair: 100, 200, 300, 400, 500, 600, 700');
/*-------------FONT CDN added INTENT check this----------------*/

/* ---------------------------------------BODY----------------------------------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Jost, sans-serif;
    color: #777777;
}
/* --------------------------------------HEADER----------------------------------*/



/* ----------------------Background image added and resized to fit the screen-----------------------------*/
#hero-image {
    height: 100%;
    width: 100%;
    background: url("http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1450px 700px;
    background-attachment: fixed;

/* -------------BACKGROUND IMAGE ANIMATION added so it has movement & appears to come forwards for a duration of 5 seconds---------------*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height: 750px;
    width: 100%;
    overflow: hidden;
}

/* -----------------BACKGROUND IMAGE KEYFRAME added so the background image scales up for 5 seconds & appears bigger---------------------*/

@keyframes hero-zoom {
    from{transform: scale(1)}
    to{ transform: scale(1.1)}
}
/* -----------------COVER TEXT OVER BACKGROUND IMAGE---------------------*/

#cover-text, #cover-text h1 {
    color: whitesmoke;
    text-align: center;
}

#cover-text{
    font-size: 140%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 800px;
    height: 200px;

    padding-left: 50px;
    padding-top: 40px;

    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */


    bottom: 30px;
    left: 350px;

    position: absolute;
}

/*-------------------------------------ABOUT ME & MEASUREMENTS SECTION----------------------------------*/

.container{
    height: 500px;
    width: 900px;
    background: green;
}

.container p{
    font-size: 50px;
}

#about {
    height: 500px;
    color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.521);
}

#about h2{
    text-align: center;
    color: blue;
    text-transform: uppercase;
}


/*--------------------------Discount code offer available illustrated with a bootstrap alert.--Continue editing----*/

.alert {
    position: relative;
    padding: .10rem 14rem;
    margin-bottom: 0rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.alert-success {
    color: black;
    font-family: Jost, sans-serif;

}

/*----------------------------ROMES CLOSET Jumbotron Bootstrap added and backgroung image added INTENTION-------------------------------*/
.romes-closet{
    background-image: url('https://www.telegraph.co.uk/content/dam/Pets/spark/royal-canin/labrador-puppies-running-xlarge.jpg');
    background-size: 1450px 700px;
    background-repeat: no-repeat;
    background-position: center;

    bottom: 0px;
}

.rome-container{
    color: whitesmoke; /*------Big text overlay on Jumbotron-------*/
    background: rgb(0, 0, 0); /*----------Fallback color----------------------*/
    background: rgba(0, 0, 0, 0.1); /*----------Black background with 0.5 opacity----------*/
    
    
}

/*----------------------------Changed the colour of small letters in the container on Jumbotron to white*/
.text-muted small{
    color: white;
}
/*---------------------------New Picture Section------------------------------*/

* {
  box-sizing: border-box;
}
/*---------------3 Picture Thumbnails sized the same------------------*/
.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/*------------------------------------------FOOTER--------------------------------------------*/ 

/*------------------------Social media links styled at the bottom of footer---------------------------*/
.social-networks{
    text-align: center;
    background-color: gainsboro;
}

.social-networks li {
    display: inline
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}
/*----------------------------GALLERY PAGE-------------------------*/

#photo{
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}