@import url('https://fonts.googleapis.com/css2?family=Jost: 100, 200, 300, 400, 500, 600, 700| Playfair: 100, 200, 300, 400, 500, 600, 700');

/* -------------------------------------------------body*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Playfair sans-serif;
    color: #777777

}

/* -------------------------------------------------header*/

/* -------------------------------------------------background image*/

#hero-image {
    height: 700px;
    width: 100%;
    background: url("http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1450px 700px;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

#hero-outer{
    height: 1000px;
    width: 100%;
    overflow: ;
}

@keyframes hero-zoom {
    from{transform: scale(1)}
    to{ transform: scale(1.1)}
}
