@import url('https://fonts.googleapis.com/css2?family=Jost: 100, 200, 300, 400, 500, 600, 700| Playfair: 100, 200, 300, 400, 500, 600, 700');

/* -------------------------------------------------body*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Jost, sans-serif;
    color: #777777

}

/* -------------------------------------------------header*/

/* -------------------------------------------------background image added and resized for the screen*/

#hero-image {
    height: 700px;
    width: 100%;
    background: url("http://cdn.akc.org/content/article-body-image/lab_puppy_dog_pictures.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1450px 700px;
/* ------------------------------background image animation added so it has movement & appears to come forwards for a duration of 5 seconds*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
}

/* ------------------------------background image keyframe added so the background image scales up for 5 seconds & appears bigger*/

@keyframes hero-zoom {
    from{transform: scale(1)}
    to{ transform: scale(1.1)}
}

#cover-text, #cover-text h1 {
    color: whitesmoke;
    text-align: center;
}

#cover-text{
    font-size: 140%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 800px;
    height: 200px;

    padding-left: 50px;
    padding-top: 40px;

    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */


    bottom: 30px;
    left: 350px;

    position: absolute;
}


#about {
    height: 395px;
    color: white;
    text-align: center;
}

#left-about{
    padding: 30px;
    width: 50%;
    float: left;
    background-color: #c9e875

}

#right-about{
    padding: 30px;
    width: 50%;
    float: right;
     background-color: green

}

#about h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-family: Jost;
}

/*--------------------------Discount code offer available illustrated with a bootstrap alert.--Continue editing----*/

.alert {
    position: relative;
    padding: .10rem 14rem;
    margin-bottom: 0rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.alert-success {
    color: black;
    font-family: Jost, sans-serif;

}

/*----------------------------Romes Closet Bootstrap added and backgroung image added INTENTION*/
.romes-closet{
    background-image: url('https://www.telegraph.co.uk/content/dam/Pets/spark/royal-canin/labrador-puppies-running-xlarge.jpg');
    background-size: 1450px 700px;
    background-repeat: no-repeat;
    background-position: center;

    bottom: 0px;
}

.container{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
    color: white;
}

/*----------------------------INTENT how do I make this p class text muted white*/

#container #text-muted{
    color: white;
}

/*----------------------------social media links styled at the bottom of footer*/
.social-networks{
    text-align: center;

}

.social-networks li {
    display: inline
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}